.modalContainer{
    height: 100vh;
}
.addButtonContainer{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
}
.addButton{
    background-color: black;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    font-size: 32px;
    margin: 8px 12px;
    cursor: pointer;
}
.modalContent{
    width:100vw;
    height:100vh;
    position: fixed; /* Use "fixed" positioning */
    top: 0;
    left: 0;
    background-color: rgba(1, 0, 0, 0.603);
    animation: popUp 0.5s ease-out forwards;
}

@keyframes popUp {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.form{
    width: 80vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    align-items: center;
    color: white;
    background-color:rgba(0, 0, 0, 0.899);
    border-radius: 8px;
    /* padding: 12px; */
    padding-top: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form *{
    margin: 8px;
    padding: 8px;
}
form > input, select {
    width: 90%;
}


.buttonsContainer{
    display: flex;
    width: 80vw;
    justify-content: center;
}

.addModal{
    width: 40vw;
    background-color: #66bb6a;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;

}

.closeModal{
    width: 40vw;
    background-color: #f44336;
    color: white;
    border:none;
    font-size: 16px;
    cursor: pointer;
}
@media only screen and (min-width: 600px){
    .addButton{
        margin: 40px 180px;
    }
    .form{
        width: 40vw;
    }
    .addModal{
        width: 17vw;
    }
    .closeModal{
        width: 17vw;
    }
}