.dateContainer{
    margin-top: 40px;
}
.dateContainer input{
    width: 80vw;
    height: 50px;
    margin: 28px;
    margin-top: 0px;
}
.spenditure{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px;      
}
.titleText{
    color: #80828d;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.amountSpent{
    display: flex;
    justify-content: start;
}
.dollar{
    font-size: 32px;
    padding-top: 8px;
    color: #80828d;
}
.amount{
    font-size: 56px;
    font-weight:bolder;
}
.amountAfterDecimal{
    font-size: 32px;
    padding-top: 8px;
    font-weight: bold;
}
.noDataFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noDataFound img{
    height: 45vh;
    width: 85vw;
}
.transaction{
    display: flex;
    position: relative;
}
.items{
    width: 73vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #80828d;
    margin-right: 20px;

}   
.category{
    font-size: 14px;
    padding-bottom: 8px;
    color: #80828d;
}
.emoji{
    font-size: 28px;
    width: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date{
    font-size: 14px;
    color: #80828d;
}
.expense{
    display: flex;
    justify-content: flex-end;
}
@media only screen and (min-width: 600px){
    .dateContainer{
        margin: auto;
        width: 30vw;
    }
    .dateContainer input{
        width: 30vw;
        margin: auto;
        margin-top: 40px;
    }
    .noDataFound{
        margin: 0%;
    }
    .noDataFound img{
        width: 20vw;
        height: 20vw;
    }
    .itemsContainer{
        padding-bottom: 160px;
    }
    .transaction{
        width: 40%;
        margin: auto;
        padding-right: 48px;
    }
    .spenditure{
        padding-bottom: 20px;
    }
}