.dateContainer{
    margin-top: 30px;
}
.dateContainer input{
    width: 80vw;
    height: 50px;
    margin: 0px 30px;
}

@media only screen and (min-width: 600px){
    .dateContainer{
        margin: auto;
        width: 30vw;
    }
    .dateContainer input{
        width: 30vw;
        margin: auto;
        margin-top: 40px;
    }
}