.monthFieldContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
.monthFieldContainer select{
    padding: 10px 10px;
    margin: 0px 10px;
}
.monthlySummaryComponent{
    margin-bottom: 20vh;
}

@media only screen and (min-width: 600px){
    .monthFieldContainer select{
        margin: auto;
        width: 40vw;
    }
}