.spenditure{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    position: relative;
}
.titleText{
    color: #80828d;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.amountSpent{
    display: flex;
    justify-content: start;
}
.dollar{
    font-size: 32px;
    padding-top: 8px;
    color: #80828d;
}
.amount{
    font-size: 56px;
    font-weight:bolder;
}
.amountAfterDecimal{
    font-size: 32px;
    padding-top: 8px;
    font-weight: bold;
}
